body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:344px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:570px;
}
#u180 {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:570px;
}
#u181 {
  position:absolute;
  left:2px;
  top:277px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u182 {
  position:absolute;
  left:0px;
  top:15px;
  width:65px;
  height:43px;
  opacity:0;
}
#u183 {
  position:absolute;
  left:2px;
  top:14px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
